<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors Tournament</title>
  <link rel="stylesheet" type="text/css" href="rps.css">
</head>
<body>

	<%= yield %>
  

  <footer> <h5>© 2014 GMG Applications </h5><footer>
</body>
</html>