<h1>Rock, Paper, Scissors </h1>
	<img src=http://www.rockpaperscissors.com/RPS_logo_color_255x67_slammed.png>
	<p>Welcome to the rock, paper, scissors online tournament! </p>
	<p>Login in below to start.</p>
	
	<form action="/sessions" method="post">
		<label for="players">Username:</label>
	  <input name="username"><br>
	  <label for="players">Password:</label>
	  <input name="password" type="password"><br>
	  <input type="submit">
	</form>
  
  <div id="nav" style="margin-top: 50px;">
    <a href="/signup">Create a new account?</a>
  </div>