<h5>Please enter your information below to create a new account.</h5>
<form action="/player" method="post">
	name: <input name="name"><br>
  username: <input name="username"><br>
  password: <input name="password" type="password"><br>
  password confirmation: <input name="password_confirmation" type="password"><br>
  <input type="submit">
</form>

<form action="/">
    <input type="submit" value="Cancel">
</form>

<div>
</div>